{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "pugAttributeSeparator": "none",
  "pugWrapAttributesThreshold": 3,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss"]
}
